@font-face {
  font-family: "login-iconfont"; /* Project id 5216808 */
  src: url('iconfont.woff2?t=1785244528080') format('woff2'),
       url('iconfont.woff?t=1785244528080') format('woff'),
       url('iconfont.ttf?t=1785244528080') format('truetype');
}

.iconfont {
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-denglu:before {
  font-family: "login-iconfont" !important;
  content: "\e611";
}

.icon-suo:before {
  font-family: "login-iconfont" !important;
  content: "\e664";
}
