@font-face {
  font-family: "home-extra-iconfont"; /* Project id 5217410 */
  src: url('iconfont.woff2?t=1785342714257') format('woff2'),
       url('iconfont.woff?t=1785342714257') format('woff'),
       url('iconfont.ttf?t=1785342714257') format('truetype');
}

.iconfont {
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanyuwomen:before {
  font-family: "home-extra-iconfont" !important;
  content: "\e603";
}

.icon-zhongguohangtiantubiaoheji-weizhuanlunkuo-:before {
  font-family: "home-extra-iconfont" !important;
  content: "\e62f";
}
