@font-face {
  font-family: "slogan-iconfont"; /* Project id 5216808 */
  src: url('iconfont.woff2?t=1785246396118') format('woff2'),
       url('iconfont.woff?t=1785246396118') format('woff'),
       url('iconfont.ttf?t=1785246396118') format('truetype');
}

.iconfont {
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zaixianjiance:before {
  font-family: "slogan-iconfont" !important;
  content: "\e643";
}

.icon-anquan:before {
  font-family: "slogan-iconfont" !important;
  content: "\ec4d";
}

.icon-kucunyujing:before {
  font-family: "slogan-iconfont" !important;
  content: "\e60f";
}
