@font-face {
  font-family: "about-iconfont"; /* Project id 5217411 */
  src: url('iconfont.woff2?t=1785344116632') format('woff2'),
       url('iconfont.woff?t=1785344116632') format('woff'),
       url('iconfont.ttf?t=1785344116632') format('truetype');
}

.iconfont {
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang:before {
  font-family: "about-iconfont" !important;
  content: "\e908";
}

.icon-dianhua:before {
  font-family: "about-iconfont" !important;
  content: "\e842";
}
